body {
  background: #f7f7f7;
}

.home-container {
  display: flex;
  margin-top: 20px;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 600px;
}

.post {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  margin-bottom: 10px;
}

.post-info {
  display: flex;
  align-items: flex-end;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.username {
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-date {
  font-size: 9px;
}

.post-content-container {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.post-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 500px; 
    word-wrap: break-word;
}

.post-title a {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}
.post-title a:hover {
  color: #959595;
}
.filters {
  border-bottom: 1px solid #d3d3d3;
}

a {
  text-decoration: none;
  font-size: 14px;
}

.categories {
  font-size: 14px;
}


