{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/styles/profile.css' %}">
    <title>PostSphere</title>
  </head>

  <body>
    <header>
      <h1>PostSphere</h1>
      <nav>
	<ul class="nav-list">
	  <li><a href="{% url 'home' %}">Home</a></li>
	  <li><a href="{% url 'new_post' %}">New Post</a></li>
	  <li><a href="{% url 'profile' %}">profile</a></li>
	  <li><a href="{% url 'login' %}">Logout</a></li>
	</ul>
      </nav>
    </header>

    <div class="main-container">
      <div class="profile-container">
	<div class="profile-image-section">
	  {% if user.image %}
	    <img src="{{ user.image.url }}" alt="Profile Image" class="profile-image">
	  {% else %}
	    <img src="{{ MEDIA_URL }}accounts/profile_images/default_profile_image.png" alt="Profile Image" class="profile-image">
	  {% endif %}
	</div>
	
	<div class="profile-info-section">
	  <h2 class="user-name">{{ user.name }}</h2>
	  <p class="user-email">{{ user.email }}</p>
	</div>
      </div>

      <div class="profile-details">
	<h2 class="profile-info">Profile Information</h2>
	<form class="profile-form" enctype="multipart/form-data" action="{% url 'profile' %}" method="POST">
	  {% csrf_token %}
	  <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" value="{{ form.name.value }}" required>
	  </div>
	  
	  <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" value="{{ form.email.value }}" required>
	  </div>
	   <div class="form-group">
	    <label for="image">Image:</label>
	    <input type="file" name="image" id="image">
	  </div>
	  
	  <input type="submit" value="Update">
	</form>
      </div>
    </div>
	
</html>
