{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/styles/auth.css' %}">
    <title>PostSphere</title>
  </head>

  <body>
    <div class="form-signup">
      <h2>Create Your Account</h2>
      <form action="/accounts/register/" method="POST">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Sign Up">
      </form>
    </div>
    <div class="welcome">
      <h1>Welcome to PostSphere</h1>
      <p>Whether you’re here to share your thoughts with the world or explore the ideas of others,
	we’re excited to have you. Join our community of creators and thinkers where your voice matters.
	Sign up today to start crafting posts
      </p>
    </div>
  </body>
</html>
