{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles/home.css' %}">
    <title>PostSphere</title>
  </head>

  <body>
    <header>
      <h1>
	<a class="website-name" href="{% url 'home' %}">PostSphere</a>
      </h1>
      <nav>
	<ul class="nav-list">
	  {% for nav_obj in nav_objects %}
	    <li><a href="{% url nav_obj.nav_view_name %}">{{ nav_obj.nav_link_text }}</a></li>
	  {% endfor %}
	</ul>
      </nav>
    </header>

    <div class="home-container">
      <div class="main-content">
	{% for post in posts %}
	  <article class="post">
	    <div class="post-info">
	      {% if post.author.image %}
	        <img src="{{ post.author.image.url }}" alt="User Image" class="user-image">
	      {% else %}
		 <img src="{{ MEDIA_URL }}accounts/profile_images/default_profile_image.png" alt="Profile Image" class="user-image">
              {% endif %}
	      <h5 class="username">{{ post.author.name }}<span class="post-date">{{ post.created_at }}</span></h5>
	    </div>
	    <div class="post-content-container">
	      <h3 class="post-title">
		<a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
	      </h3>
	      <p class="post-content">
		{{ post.content }}
	      </p>
	    </div>
	  </article>
	{% endfor %}
      </div>

      <div class="sidebar">
	<h3 class="filters">Filters</h3>
	<a href="{% url 'latest_posts' %}">Latest posts</a>
	  <h4 class="categories">Categories:</h4>
	  <ul>
	    {% for category in categories %}
	      <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
	    {% endfor %}
	  </ul>
      </div>
    </div>
  </body>  
</html>
