<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/blog/styles/header.css">
    <link rel="stylesheet" type="text/css" href="../../static/blog/styles/home.css">
    <title>PostSphere</title>
  </head>

  <body>
    <header>
      <h1>PostSphere</h1>
      <nav>
	<ul class="nav-list">
	  <li><a href="../blog/home.html">Home</a></li>
	  <li><a href="../blog/new_post.html">New Post</a></li>
	  <li><a href="../blog/profile.html">profile</a></li>
	  <li><a href="../blog/login.html">Logout</a></li>
	</ul>
      </nav>
    </header>

    <div class="home-container">
      <div class="main-content">
	<article class="post">
	  <div class="post-info">
	    <img src="../../static/blog/images/image.png" alt="User Image" class="user-image">
	    <h5 class="username">Mohamed <span class="post-date">15/5/2005</span></h5>
	  </div>
	  <div class="post-content">
	    <h3 class="post-title">Post Title</h3>
	    <p>Post content goes here... Post content goes here...
	      <br>Post content goes here... Post content goes here...
	    </p>
	  </div>
	</article>
	<article class="post">
	  <div class="post-info">
	    <img src="../../static/blog/images/image.png" alt="User Image" class="user-image">
	    <h5 class="username">Mohamed <span class="post-date">15/5/2005</span></h5>
	  </div>
	  <div class="post-content">
	    <h3 class="post-title">Post Title</h3>
	    <p>Post content goes here...<br>Post content goes here...
	      <br>Post content goes here...<br>Post content goes here...
	    </p>
	  </div>
	</article>
	<article class="post">
	  <div class="post-info">
	    <img src="../../static/blog/images/image.png" alt="User Image" class="user-image">
	    <h5 class="username">Mohamed <span class="post-date">15/5/2005</span></h5>
	  </div>
	  <div class="post-content">
	    <h3 class="post-title">Post Title</h3>
	    <p>Post content goes here...<br>Post content goes here...
	      <br>Post content goes here...<br>Post content goes here...
	    </p>
	  </div>
	</article>
	
	<div class="change-posts">
	  <a href="#">Previous</a>
	  <a href="#">Next</a>
	</div>	  
      </div>

      <div class="sidebar">
	<h3 class="filters">Filters</h3>
	<a href="home.html">Latest posts</a>
	  <h4 class="categories">Categories:</h4>
	  <ul>
	    <li><a href="#">Tech</a></li>
	    <li><a href="#">Culture</a></li>
	    <li><a href="#">Science</a></li>
	  </ul>
      </div>
    </div>
	
	  
</html>
