<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/blog/styles/auth.css">
    <title>PostSphere</title>
  </head>

  <body>
    <div class="form-signup">
      <h2>Welcome Back!</h2>
      <form>
	<label for="email">Email</label><br>
	<input type="text" id="email" name="email"><br>
	<label for="password">Password</label><br>
	<input type="password" id="password" name="password"><br>
	<input type="submit" value="Login">
      </form>
      <p id="signup-info">Don't have an account?
	<a href="../blog/sign_up.html" title="Create a new account">Sign Up</a>
      </p>
    </div>
    <div class="welcome">
      <h1>Welcome to PostSphere</h1>
      <p>Whether you’re here to share your thoughts with the world or explore the ideas of others,
	we’re excited to have you. Join our community of creators and thinkers where your voice matters.
	log in today to continue sharing your unique perspective.
      </p>
    </div>
  </body>
</html>
