{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static '/blog/styles/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/blog/styles/new_post.css' %}">
    <title>PostSphere</title>
  </head>

  <body>
    <header>
      <h1>
	<a class="website-name" href="{% url 'home' %}">PostSphere</a>
      </h1>
      <nav>
	<ul class="nav-list">
	  {% for nav_obj in nav_objects %}
	  <li>
	    <a
	      {% if nav_obj.nav_view_name == 'logout' %}
	       id="logout-link"
	      {% endif %}
	       href="{% url nav_obj.nav_view_name %}">{{ nav_obj.nav_link_text }}</a></li>
	  {% endfor %}
	</ul>
      </nav>
    </header>
    
    <div class="new-post">
      <h2>{{ page_title }}</h2>
      <form method="post">
	{% csrf_token %}
	<div class="form-group">
          <label for="{{ form.category.id_for_label }}">Category</label>
          {{ form.category }}
	</div>

	<div class="form-group">
          <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
          {{ form.title }}
	</div>
	
	<div class="form-group">
          <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
          {{ form.content }}
	</div>
	<input type="submit" value={{ button_text }}>
	 {% if form.title.errors %}
            <div class="error">
                {% for error in form.title.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
      </form>
    </div>
    <script src="{% static 'accounts/scripts/logout_confirm_dialog.js' %}"></script>
  </body>

</html>
